@import url('https://fonts.googleapis.com/css?family=Open+Sans');

$debug: true;

$score_top_padding: 20vh;
$score_spread: 22vw;
$background_color: #fff;
$text_color: #000;

@media (max-device-width: 800px) {
  html {
    font-size: 12px;
  }
}

body {
  background-color: $background_color;
  color: $text_color;
  padding: 0;
  border: 0;

  user-select: none;
  font-family: 'Open Sans', sans-serif;
}

div {
  @if $debug == true {
    border: solid 1px red;
  }
}

.score_holder {
  position: fixed;
  top: $score_top_padding;
  left: 50%;

  width: 500px;
  height: 30vh;
  text-align: center;

  .teamname {
    font-size: 5rem;
  }

  .score {
    font-size: 15rem;
    transform: translateY(-5vh);
  }
}

.logo {
  border-radius: 50%;
  width: auto;
  height: 15vh;
  transform: translateY(2vh);
}

table {

}

#left-div {
  @extend .score_holder;
  transform: translateX(-50%) translateX(-$score_spread);
}

#right-div {
  @extend .score_holder;
  transform: translateX(-50%) translateX($score_spread);
}

#timer {
  position: fixed;
  width: 700px;
  height: 200px;

  top: -5%;
  left: 50vw;
  transform: translateX(-50%);

  text-align: center;
  font-size: 10rem;
}